{% extends 'base.html.twig' %}
{% block body %}

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class= "container">
    <h1>Artikelen overzicht</h1>
    <form method="post" action="{{ path('omschrijvingArtikelenVerkoper') }}">
      <input type="text" placeholder="artikelnr of omschrijving" name="zoekwaarde" />
      <input type="submit" name="verzendknop" />
    </form>
    <br />
    <table class = "table">
        <thead>
            <tr>
                <td>Artikel nummer</td>
                <td>Omschrijving</td>
                <td>technische Specificaties</td>
                <td>Magazijnlocatie</td>
                <td>Inkoopprijs</td>
                <td>CVA</td>
                <td>Minimum voorraad</td>
                <td>Voorraad in aantal</td>
								<td>Bestelserie</td>
                <td>Wijzig</td>

            </tr>
        </thead>
        <tbody>
            {% for artikel in artikelen %}
                <tr>
                    <td>{{ artikel.artikelnr }}</td>
                    <td>{{ artikel.omschrijving }}</td>
                    <td>{{ artikel.technischeSpecificaties }}</td>
                    <td>{{ artikel.magazijnlocatie }}</td>
                    <td>{{ artikel.inkoopprijs }}</td>
                    <td>{{ artikel.CVA }}</td>
                    <td>{{ artikel.minimumVoorraad }}</td>
                    <td>{{ artikel.voorraadInAantal }}</td>
										<td>{{ artikel.bestelserie }}</td>
                    <td><a href="{{ path('artikelVerkopen',{'artikelnr':artikel.artikelnr}) }}" class="btn btn-primary btn-sm square" role="button">Verkopen</a></td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
