{% extends 'base.html.twig' %}
{% block body %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Artikelen overzicht</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Artikel nummer</th>
        <th>Omschrijving</th>
        <th>Magazijnlocatie</th>
        <th>Minimum voorraad</th>
        <th>Technische voorraad</th>
        <th>Gereserveerde voorraad</th>
        <th>Vrije voorraad</th>
        <th>Wijzigen</th>
      </tr>
    </thead>
    <tbody>
      {% for artikel in artikelen %}
      <tr>
        <td>{{ artikel.artikelnr }}</td>
        <td>{{ artikel.omschrijving }}</td>
        <td>{{ artikel.magazijnlocatie }}</td>
        <td>{{ artikel.minimumVoorraad }}</td>
        <td>{{ artikel.voorraadInAantal }}</td>
        <td>{{ artikel.gereserveerdeVoorraad }}</td>
        <td>{{ artikel.vrijeVoorraad }}</td>
        <td><a href="{{ path('magazijnmeesterLocatieWijzigen',{'artikelnr':artikel.artikelnr}) }}" class="btn btn-primary btn-sm square" role="button">Locatie code wijzigen</a></td>
      </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
