{% extends 'base.html.twig' %}
{% block body %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h2>Artikelen overzicht</h2>
    <table class="table">
      <thead>
            <tr>
                <td>Id</td>
                <td>Datum</td>
                <td>Leverancier</td>
                <td>Ordernummer</td>
                <td>Artikelnummer</td>
                <td>Omschrijving</td>
                <td>Hoeveelheid</td>
                <td>Kwaliteit</td>
            </tr>
        </thead>
        <tbody>
            {% for goed in goederen %}
                <tr>
                    <td>{{ goed.id }}</td>
                    <td>{{ goed.datum|date('Y-m-d')  }}</td>
                    <td>{{ goed.leverancier }}</td>
                    <td>{{ goed.ordernummer }}</td>
                    <td>{{ goed.artikelnummer }}</td>
                    <td>{{ goed.omschrijving }}</td>
                    <td>{{ goed.hoeveelheid }}</td>
                    <td>{{ goed.kwaliteit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table
{% endblock %}
