<html lang="en">
<head>
  <title>Homepage Inkoper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.melding {
    color: black;
    text-align: center;
    position: absolute;
    left: 0px;
}
.logout {
    color: white;
    background-color: #CC0529;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    right: 20px;
}
.button {
    background-color: #CC0529;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button1 {
    background-color: white;
    color: black;
    border: 5px solid #CC0529;
    min-width: 300px !important;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Red */
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #CC0529; /* Red */
    color: white;
}

</style>
<div class="jumbotron text-center">
    <img src="https://www.lunenburg.nu/cms/images/logo-lunenburg.png" alt="Lunenburg">
    <td>{% if is_granted(expression('"ROLE_INKOPER" in roles')) %}
              <a class="navbar-brand melding">U bent ingelogd als: {{ app.user.username }}</a>

    <a href="{{ path('login')}}" class= "navbar-brand logout">Logout</a>
    {% elseif is_granted(expression('"ROLE_INKOPER" in roles')) %}

    {% endif %}

    </td>
</div>

<div class="container">

    <div class="col-sm-4">
      <h3>Artikelen</h3>
        <td><a href="{{ path('alleactieveartikelen')}}" class="button button1" role="button">Alle artikelen tonen</a></td>
        <td><a href="{{ path('alledeactieveartikelen')}}" class="button button1" role="button">Alle gedeactiveerde artikelen tonen</a></td>
        <td><a href="{{ path('artikelNieuw')}}" class="button button1" role="button">Nieuw artikel toevoegen</a></td>
        <td><a href="{{ path('bestelserieArtikelenInkoper')}}" class="button button1" role="button">Overzicht bestelserie</a></td>
      </div>
      <div class="col-sm-4">
        <h3>Bestellen</h3>
        <td><a href="{{ path('nieuwebestelorder')}}" class="button button1" role="button">Nieuwe leverancier toevoegen</a></td>
        <td><a href="/magazijnbeheer1/web/app_dev.php/inkoper/bestelartikel/nieuw/1" class="button button1" role="button">Inkopen</a></td>
        <td><a href="{{ path('allebestelopdrachten')}}" class="button button1" role="button">Overzicht inkopen</a></td>
    </div>
    <div class="col-sm-4">
      <h3>Goederen</h3>
        <td><a href="{{ path('alleInkopergoederen')}}" class="button button1" role="button">Alle goederen tonen</a></td>

  </div>
</div>

</body>
</html>
