<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style>
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.button1 {
    background-color: #CC0529;
    color: white;
    border: 5px solid #CC0529;
    min-width: 300px !important;
}
</style>
<div class="jumbotron text-center">
    <img src="https://www.lunenburg.nu/cms/images/logo-lunenburg.png" alt="Lunenburg">
</div>

<div class="container">

    <div class="col-sm-4">
      <h3>Artikelen</h3>
        <td><a href="{{ path('alleactieveartikelen')}}" class="button button1" role="button">Alle artikelen tonen</a></td>
        <td><a href="{{ path('alledeactieveartikelen')}}" class="button button1" role="button">Alle gedeactiveerde artikelen tonen</a></td>
        <td><a href="{{ path('artikelNieuw')}}" class="button button1" role="button">Nieuw artikel toevoegen</a></td>
      </div>
      <div class="col-sm-4">
        <h3>Bestellen</h3>
        <td><a href="{{ path('nieuwebestelorder')}}" class="button button1" role="button">Nieuwe leverancier toevoegen</a></td>
        <td><a href="/magazijnbeheer1/web/app_dev.php/inkoper/bestelartikel/nieuw/1" class="button button1" role="button">Inkopen</a></td>
        <td><a href="{{ path('allebestelopdrachten')}}" class="button button1" role="button">Overzicht inkopen</a></td>
    </div>
    <div class="col-sm-4">
      <h3>Goederen</h3>
        <td><a href="{{ path('alleInkopergoederen')}}" class="button button1" role="button">Alle goederen tonen</a></td>

  </div>
</div>

</body>
</html>
