{% extends 'base.html.twig' %}
{% block body %}
    <h1>Artikelen overzicht</h1>
    <form method="post" action="{{ path('omschrijvingArtikelenVerkoper') }}">
      <input type="text" placeholder="artikelnr of omschrijving" name="zoekwaarde" />
      <input type="submit" name="verzendknop" />
    </form>
    <br />
    <table border="1" style="width: 100%;">
        <thead>
            <tr>
                <td>Artikel nummer</td>
                <td>Omschrijving</td>
                <td>technische Specificaties</td>
                <td>Magazijnlocatie</td>
                <td>Inkoopprijs</td>
                <td>CVA</td>
                <td>Minimum voorraad</td>
                <td>Voorraad in aantal</td>
								<td>Bestelserie</td>
                <td>Wijzigen</td>
            </tr>
        </thead>
        <tbody>
            {% for artikel in artikelen %}
                <tr>
                    <td>{{ artikel.artikelnr }}</td>
                    <td>{{ artikel.omschrijving }}</td>
                    <td>{{ artikel.technischeSpecificaties }}</td>
                    <td>{{ artikel.magazijnlocatie }}</td>
                    <td>{{ artikel.inkoopprijs }}</td>
                    <td>{{ artikel.CVA }}</td>
                    <td>{{ artikel.minimumVoorraad }}</td>
                    <td>{{ artikel.voorraadInAantal }}</td>
										<td>{{ artikel.bestelserie }}</td>
                    <td><a href="{{ path('magazijnmeesterArtikelWijzigen',{'artikelnr':artikel.artikelnr}) }}">wijzig</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
