{% extends 'base.html.twig' %}
{% block body %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2><br>Gebruikers overzicht</br></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Gebruikersnaam</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Functie</th>
        <th>Wachtwoord wijzigen</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>

        <td>{{ user.username }}</td>
        <td>{{ user.voornaam }}</td>
        <td>{{ user.achternaam }}</td>
        <td>{{ user.functie }}</td>
        <td><a href="{{ path('wachtwoordwijzig',{'id':user.id}) }}" class="btn btn-primary btn-sm square" role="button">Wijzig</a></td>




      </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
